﻿@model PRM.API.ViewModels.Invite.SendInviteViewModel

@{
    ViewBag.Title = "Send";
}

<h2>Alpha Invitation</h2>

@*
    TO-DO:
*@

@using (Html.BeginForm())
{
    <div class="container">
        <div class="form-horizontal">
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(model => model.Email, "Recipient e-mail:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Invite!" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}



