﻿@model List<PRM.Data.Models.Library>
@{
    ViewBag.Title = "AlbumList";
}

<h3>All Albums</h3>
@Html.ActionLink("Create New Album", "Create", "Album", new { }, new { @class = "label label-primary" })

@foreach(var library in Model)
{
    <div>
        <h3>Library • @library.Title</h3>
        <ul>
            @foreach (var album in library.Albums)
            {
                <li>
                    @Html.ActionLink("Delete", "Delete", "Album", new { AlbumId = album.Id.ToString("N") }, new { @Class="label label-danger" })
                    @Html.ActionLink(album.Title, "Index", "Album", new { AlbumId = album.Id.ToString("N") }, new { })
                </li>
            }
        </ul>
    </div>
}
