﻿@model PRM.API.ViewModels.Album.CreateAlbumViewModel
@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#timespan_details").hide();
        $(":radio:eq(0)").click(function(){
            $("#timespan_details").fadeIn();
        });

        $(":radio:eq(1)").click(function(){
            $("#timespan_details").fadeOut();
        });
    });


</script>
<h2>Create</h2>
@*
    TODO: Mason try this method of creating dropdowns
    Model.AllStores.Select(x => new SelectListItem { Value = x.Name, Text = x.Name, Selected = x.Name == Model.StoreNumber })
*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m=>m.Album.CreatedByUser.Id)

    <div class="form-horizontal">
        <h4>Album</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Album.Library.Id, "Library", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Album.Library.Id, Model.LibraryDropdown)
                @Html.ValidationMessageFor(model => model.Album.Library.Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Album.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Album.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Album.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Album.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Album.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Album.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Album.HasTimespan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Album.HasTimespan, true, new { htmlAttributes = new { @class = "form-control" } }) True
                @Html.RadioButtonFor(model => model.Album.HasTimespan, false, new { htmlAttributes = new { @class = "form-control" } }) False
                @Html.ValidationMessageFor(model => model.Album.HasTimespan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="timespan_details">
            <div class="form-group">
                @Html.LabelFor(model => model.Album.TimespanType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Album.TimespanType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Album.TimespanType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Album.TimespanStart, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Album.TimespanStart, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Album.TimespanStart, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Album.TimespanEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Album.TimespanEnd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Album.TimespanEnd, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
  
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
