﻿@model PRM.API.ViewModels.Album.AlbumIndexViewModel


@{ ViewBag.Title = "Album | " + Model.album.Title; }

<h2>@Model.album.Title</h2>

<p>@Model.album.Description</p>

    <div class="row">
        <div class="col-md-12">
            @Html.Action("AjaxAddImage", "Image", new { AlbumId = Model.album.Id })
            @*@Html.Action("AddImage", "Image", new { AlbumId = Model.album.Id })*@
        </div>
    </div>

<div id="js-image-container">
    @foreach (var item in Model.images)
    {
        @Html.Partial("~/Views/Image/_Image.cshtml",item)
    }
</div>


<div style="clear:both;"></div>

<br />
<hr />
@Html.Action("CreateComment", "Comment", new { ContentId = Model.album.Id, ContentTypeId = ((int)PRM.Data.Util.ContentTypesEnum.ALBUM).ToString() })
<br />
<hr />
<b>Comments</b>
<br />

@foreach (var item in Model.comments)
{
    <div class="comment">
        <p>@item.Text</p>
    </div>
}



<style>
     .comment {
         border: 1px solid black;
         margin: 0 0 10px 0;
     }
    .imageContainer {
        float:left;
        margin: 5px;
        padding: 5px;
    }
    .imageContainer:hover {
        border: 3px solid #428bca;
        padding: 2px;
    }
    .imageContainer img {
        max-height: 300px;
        max-height: 300px;
    } 

</style>
