﻿@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h3>Welcome to Photo Repository Manager</h3>
</div>
<div class="row">
    @*<div class="col-md-4">
        <h2>Testing</h2>
        <ul class="list-group">
            <li class="list-group-item">
            </li>
        </ul>
    </div>*@
    @*<div class="col-md-4">
        <h2>Testing</h2>
        <ul class="list-group">
            <li class="list-group-item">
            </li>
        </ul>
    </div>*@
    @*<div class="col-md-4">
        <h2>Alpha Invites</h2>
        <ul class="list-group">
            <li class="list-group-item">
                @Html.ActionLink("Send alpha invite", "Send", "Invite", new { }, new { })
            </li>
        </ul>
    </div>*@
</div>