﻿@model PRM.API.ViewModels.Album.AddImageViewModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add Image</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("AddImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {  
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.AlbumId)
            @Html.HiddenFor(m=>m.Image.ContentyType.Id)
            
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Image.Title, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Image.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Image.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Image.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Image.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Image.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Image.DateTaken, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Image.DateTaken, new { htmlAttributes = new { id = "dateTaken", @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Image.DateTaken, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Upload: </button>
                            </span>
                            <input type="file" name="ImageFile" id="ImageFile" />
                            @Html.ValidationMessageFor(m => m.ImageFile)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#dateTaken").datepicker();
    });


</script>