﻿@model PRM.Data.Models.Image

<div class="imageContainer">
    @Model.Id.ToString("N") <br />
    <img src="https://prmimagestorage.blob.core.windows.net/prmimagestorage/@(Model.Id.ToString("N"))" />
    <br />
    @Html.ActionLink("Rotate", "RotateImage", "Image", new { AlbumId = Model.AlbumImages.FirstOrDefault().Album.Id.ToString("N"), ImageId = Model.Id.ToString("N"), RotationAngle = "90" }, new { @Class = "label label-info" })
    @Html.ActionLink("Delete", "DeleteImageFromAlbum", "Image", new { AlbumId = Model.AlbumImages.FirstOrDefault().Album.Id.ToString("N"), ImageId = Model.Id.ToString("N") }, new { @Class = "label label-danger" })
    @Model.Title
</div>

