﻿#multiImageUpload{
    border:dashed;
    border-width:1px;
    border-radius:5px;
    width:100%;
    height:75px;
    
    vertical-align:middle;
   
}

#multiImageUpload:hover{
    border:dotted;
    border-width:2px;
}

#multiImageUpload:hover #dragAndDropText{
    font-size:large;
    font-stretch:extra-expanded;
    color:red;
}

#dragAndDropText{
    font-size:medium;
    font-stretch:expanded;
    color:black;
    padding-left:45%;
    margin-top:15px;
    width:10%;
    vertical-align:middle;
}

.progressBar {
    width: 200px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
}
 
.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0ba1b5; border-radius: 3px;
}
.statusbar
{
    border-top:1px solid #A9CCD1;
    min-height:25px;
    width:700px;
    padding:10px 10px 0px 10px;
    vertical-align:top;
}
.statusbar:nth-child(odd){
    background:#EBEFF0;
}
.filename
{
display:inline-block;
vertical-align:top;
width:250px;
}
.filesize
{
display:inline-block;
vertical-align:top;
color:#30693D;
width:100px;
margin-left:10px;
margin-right:5px;
}
.abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
    }


